{#
/**
 * Craft Elastic plugin for Craft CMS
 *
 * CraftElasticUtility Utility Content
 *
 * @author    Peter Holme Obrestad
 * @copyright Copyright (c) 2017 Peter Holme Obrestad
 * @link      https://dfo.no
 * @package   CraftElastic
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% if elasticIndexExists %}
<p>exists</p>
{% else %}
<h2>Set up Elasticsearch index</h2>
<p>The connection to Elasticsearch is working, but the index named <code>{{ elasticIndex }}</code> was not found. Do you want to create the index?</p>

<form id="craft-elastic-utility" class="utility" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="utilities/craft-elastic-perform-action">
    {{ csrfInput() }}
{#
    {{ forms.checkbox({
        name: 'downloadBackup',
        label: 'Download backup?'|t('app'),
        checked: true,
    }) }}
#}
    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ "Create index!"|t('app') }}" />
        <div class="utility-status"></div>
    </div>
</form>

{% endif %}